asset/
baseline_with_gates/
bytenet_baseline_160k_weird/
asset_latent_100/
data/
asset_160k_600model_l2_reg/
asset_60k_iterations_mostly_idk/
asset_60k_l2reg/
asset_bak/
asset_custom_model_with_gates/
asset_small_model2/
asset_weirdly_overtrained/
assetbak2/
baselie_bytenet/
*.pyc
